<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description" content="Male_Fashion Template">
<meta name="keywords" content="Male_Fashion, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Male-Fashion</title>
<link rel="icon" href="/img/logo-3.png">
<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="css/nice-select.css" type="text/css">
<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Offcanvas Menu Begin -->
	<div class="offcanvas-menu-overlay"></div>
	<div class="offcanvas-menu-wrapper">
		<div class="offcanvas__option">
			<div class="offcanvas__links">
				<a th:if="${session.acc == null}" th:href="@{/signin}">Sign in</a> <a
					th:if="${session.acc != null}" th:text="${session.acc.user_Name}"
					style="color: white;"></a> <a th:if="${session.acc != null}"
					th:href="@{/signout}">Sign out</a><a href="#">FAQs</a>
			</div>
			<div class="offcanvas__top__hover">
				<span>VND<i class="arrow_carrot-down"></i></span>
				<ul>
					<li>VND</li>
					<li>EUR</li>
					<li>USD</li>
				</ul>
			</div>
		</div>
		<div class="offcanvas__nav__option">
			<a href="#" class="search-switch"><img src="img/icon/search.png"
				alt=""></a> <a href="#"><img src="img/icon/heart.png" alt=""></a>
			<a th:href="@{/cart}"><img src="img/icon/cart.png" alt="">
				<span th:text="${session.countCart}"></span></a>
		</div>
		<div id="mobile-menu-wrap"></div>
		<div class="offcanvas__text">
			<p>Free shipping, 30-day return or refund guarantee.</p>
		</div>
	</div>
	<!-- Offcanvas Menu End -->

	<!-- Header Section Begin -->
	<header class="header">
		<div class="header__top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-7">
						<div class="header__top__left">
							<p>Free shipping, 30-day return or refund guarantee.</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-5">
						<div class="header__top__right">
							<div class="header__top__links">
								<a th:if="${session.acc == null}" th:href="@{/signin}">Sign
									in</a> <a th:if="${session.acc != null}"
									th:text="${session.acc.user_Name}" style="color: white;"></a> <a
									th:if="${session.acc != null}" th:href="@{/signout}">Sign
									out</a><a href="#">FAQs</a>
							</div>
							<div class="header__top__hover">
								<span>Usd <i class="arrow_carrot-down"></i></span>
								<ul>
									<li>USD</li>
									<li>EUR</li>
									<li>USD</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<div class="header__logo" style="margin-top: -20px;">
						<a th:href="@{/home}"><img src="img/logo1.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<nav class="header__menu mobile-menu">
						<ul>
							<li><a th:href="@{/home}">Home</a></li>
							<li><a th:href="@{/shop}">Shop</a></li>
							<li class="active"><a href="#">Pages</a>
                                <ul class="dropdown">
                                	<li><a th:href="@{/cart}">Shopping Cart</a></li>
                                	<li><a th:href="@{/myprofile}">My Profile</a></li>
                                	<li><a th:href="@{/myhistory}">My History</a></li>
                                    <li><a th:href="@{/about}">About Us</a></li>
                                </ul>
                            </li>
							<li><a th:href="@{/blog}">Blog</a></li>
							<li><a th:href="@{/contact}">Contacts</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-3 col-md-3">
					<div class="header__nav__option">
						<a href="#" class="search-switch"><img
							src="img/icon/search.png" alt=""></a> <a href="#"><img
							src="img/icon/heart.png" alt=""></a> <a th:href="@{/cart}"><img
							src="img/icon/cart.png" alt=""> <span
							th:text="${session.countCart}"></span></a>
					</div>
				</div>
			</div>
			<div class="canvas__open">
				<i class="fa fa-bars"></i>
			</div>
		</div>
	</header>
	<!-- Header Section End -->

	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-option">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb__text">
						<div class="breadcrumb__links">
							<a th:href="@{/home}">Home</a> <span>News</span> <span> > ARISTINO FESTIVE 2024 - BRILLIANT TIME</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Section End -->

	<!-- About Section Begin -->
	<div style="padding-left: 170px;">
		<h2>ARISTINO FESTIVE 2024 - BRILLIANT TIME</h2>
		<p>18/12/2023</p>
	</div>
	
	<section class="about spad">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-12">
					
					<div class="about__pic">
						<img src="img/banner/BannerHome1.jpg" alt="">
					</div>
				</div>
			</div>
			
			<h4><b>"Kế thừa tinh hoa - Tài năng hội tụ" là tinh thần mà BST Aristino Festive 2024 - Brilliant Time muốn gửi tới các Doanh nhân thế hệ mới.</b></h4>
			<br>
			<p style="font-size: 16px;">"Kế thừa tinh hoa - Tài năng hội tụ" là tinh thần mà BST Aristino Festive 2024 - Brilliant Time muốn gửi tới các Doanh nhân thế hệ mới, một tinh thần làm nên phong thái tự tin, năng lượng tích cực để đi đến thành công trên con đường sự nghiệp.</p>
			<p style="font-size: 16px;">Khoảng thời gian chuyển giao năm cũ bước sang năm mới luôn là hoàn hảo nhất để các doanh nhân cùng nhìn lại những thành tựu rực rỡ sau một năm đầy nỗ lực. Trong một địa hạt đầy khó khăn và thách thức như kinh doanh, niềm vui lại càng đáng được trân trọng. Càng biết tận hưởng niềm vui, người doanh nhân trẻ càng có thêm nhiều năng lượng cho những hành trình dài trên thương trường.</p>


<!--			
			<div class="row">
				<h3>
					Áo khoác da Bomber jacket
				</h3>
				<br>
				<br>
				<p style="font-size: 16px;">
					Bomber jacket là loại áo khoác hơi phồng thân, có đường chun bo ở gấu áo và cổ tay, thích hợp cho những chàng trai gầy có đôi vai rộng. 
					Đây là kiểu trang phục không bao giờ lỗi mốt, mang đến vẻ trẻ trung, khỏe khoắn, năng động cho cánh mày râu.
					Các chàng có thể kết hợp Bomber jacket với áo len, áo thun hay thậm chí với cả sơ mi cùng cà vạt lịch lãm. 
					Đây là món phụ kiện đa năng dành cho quý ông, có thể phù hợp với mọi hoàn cảnh khác nhau, một sự lựa chọn mà cánh mày râu nên có trong tủ đồ. 
					Đối với mẫu áo khoác da này, các chàng trai thường lựa chọn màu sắc áo khoác “an toàn” như đen, ghi, vàng đất..., 
					nhưng nếu muốn trở nên nổi bật hơn thì đừng ngại khoác lên mình chiếc áo chất liệu vải bắt sáng với gam màu bắt mắt để ghi dấu ấn phong cách.
				</p>
				<img style="margin: auto;padding-top: 20px;" src="img/blog/blog4.jpg" alt="">
			</div>
			<br>
			<i style="padding-left: 480px;">Áo khoác da nam Bomber jacket</i>
			
			<div class="row">
				<h3>
					Áo khoác da Motorcycle jacket
				</h3>
				<br>
				<br>
				<p style="font-size: 16px;">
					Nếu như bạn là người đam mê tốc độ, đam mê khám phá cuộc sống trên những chiếc mô tô cùng với phong cách phong trần, 
					cá tinh thì kiểu áo da Motorcycle jacket là sự lựa chọn hoàn hảo dành cho bạn. Không chỉ là những chiếc áo khoác da đơn thuần, 
					Motocycle jacket rất chú trọng vào những điểm nhấn như thắt lưng ngang hông hay khóa kéo được thiết kế nhiều hơn ở cổ tay, thân áo và túi quần, 
					tạo nên sự hòa hợp tinh tế giữa các bộ phận trên áo với nhau.
				</p>
				<img style="margin: auto;padding-top: 20px;" src="img/blog/blog5.jpg" alt="">
			</div>
			<br>
			<i style="padding-left: 480px;">Áo khoác da nam motorcycle jacket</i>
			
			<div class="row">
				<h3>
					Áo khoác da Distressed leather jacket
				</h3>
				<br>
				<br>
				<p style="font-size: 16px;">
					Kiểu áo khoác da Distressed leather jacket phong cách cổ điển mang đến cho người mặc cảm giác xưa cũ với ve áo cứng, túi hình hộp. 
					Kiểu áo khoác này chỉ dài đến thắt lưng người mặc, đơn giản, gọn nhẹ.
				</p>
				<img style="margin: auto;padding-top: 20px;" src="img/blog/blog6.jpg" alt="">
			</div>
			<br>
			<i style="padding-left: 480px;">Áo khoác Distressed leather jacket</i>
		</div>
		-->
	</section>
<!-- About Section End -->

<!-- Slide Show -->
<div class="slider" x-data="{start: true, end: false}">
	  <div class="slider__content" x-ref="slider" x-on:scroll.debounce="$refs.slider.scrollLeft == 0 ? start = true : start = false; Math.abs(($refs.slider.scrollWidth - $refs.slider.offsetWidth) - $refs.slider.scrollLeft) < 5 ? end = true : end = false;">
		    <div class="slider__item">
		      <img class="slider__image" src="img/blog/blog7.jpg" alt="Image">
		      <div class="slider__info">       
		      </div>
		    </div>
		    <div class="slider__item">
		      <img class="slider__image" src="img/blog/blog9.jpg" alt="Image">
		      <div class="slider__info">        
		      </div>
		    </div>
		    <div class="slider__item">
		      <img class="slider__image" src="img/blog/blog10.jpg" alt="Image">
		      <div class="slider__info">      
		      </div>
		    </div>
		    <div class="slider__item">
		      <img class="slider__image" src="img/blog/blog11.jpg" alt="Image">
		      <div class="slider__info">       
		      </div>
	    	</div>
	     </div>
    </div>
</div>
<br>
<i style="padding-left: 650px;">Một số hình ảnh trong festival</i>
<br>
<br>
<br>
<br>
<!-- End Slide Show -->	

	<!-- Testimonial Section Begin -->
	<section class="testimonial">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 p-0">
					<div class="testimonial__text">
						<span class="icon_quotations"></span>
						<p>ARISTINO FESTIVE 2024 - BRILLIANT TIME
							"Kế thừa tinh hoa - Tài năng hội tụ" là tinh thần mà BST Aristino Festive”</p>
						<div class="testimonial__author">
						</div>
					</div>
				</div>
				<div class="col-lg-6 p-0">
					<div class="testimonial__pic set-bg"
						data-setbg="img/blog/blog2.jpg"></div>
				</div>
			</div>
			<br>
			<br>
			<h3 style="text-align: center;">ARISTINO FESTIVE 2024 - BRILLIANT TIME</h3>
			<br>
			<p style="text-align: center;font-size: 16px;">"Kế thừa tinh hoa - Tài năng hội tụ" là tinh thần mà BST Aristino Festive 2024 - Brilliant Time muốn gửi tới các Doanh nhân thế hệ mới, một tinh thần làm nên phong thái tự tin,</p>
			<p style="text-align: center;font-size: 16px;">năng lượng tích cực để đi đến thành công trên con đường sự nghiệp.</p>
			<br>
			<br>
		</div>
	</section>
	<!-- Testimonial Section End -->

	
	<!-- Footer Section Begin -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="footer__about">
						<div class="footer__logo">
							<a href="#"><img src="img/footer-logo.png" alt=""></a>
						</div>
						<p>The customer is at the heart of our unique business model,
							which includes design.</p>
						<a href="#"><img src="img/payment.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
					<div class="footer__widget">
						<h6>Shopping</h6>
						<ul>
							<li><a href="#">Clothing Store</a></li>
							<li><a href="#">Trending Shoes</a></li>
							<li><a href="#">Accessories</a></li>
							<li><a href="#">Sale</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6">
					<div class="footer__widget">
						<h6>Shopping</h6>
						<ul>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">Payment Methods</a></li>
							<li><a href="#">Delivary</a></li>
							<li><a href="#">Return & Exchanges</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
					<div class="footer__widget">
						<h6>NewLetter</h6>
						<div class="footer__newslatter">
							<p>Be the first to know about new arrivals, look books, sales
								& promos!</p>
							<form action="#">
								<input type="text" placeholder="Your email">
								<button type="submit">
									<span class="icon_mail_alt"></span>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="footer__copyright__text">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						<p>
							Copyright ©
							<script>
								document.write(new Date().getFullYear());
							</script>
							2020 All rights reserved | This template is made with <i
								class="fa fa-heart-o" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank">Colorlib</a>
						</p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section End -->

	<!-- Search Begin -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">+</div>
			<form th:action="@{/search}" method="POST" class="search-model-form">
				<input name="search-input" type="text" id="search-input"
					placeholder="Search here.....">
			</form>
		</div>
	</div>
	<!-- Search End -->
	<!-- Js Plugins -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/jquery.nicescroll.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/jquery.countdown.min.js"></script>
	<script src="js/jquery.slicknav.js"></script>
	<script src="js/mixitup.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>